/*
Use your custom theme:
Select "Custom" theme in the dashboard
On your https://poll.ma.pe/overlay/<id>/ URL add ?customCss=https://example.com/style.css

Please keep the link to https://poll.ma.pe visible for a short period of time.
*/

@import url(https://fonts.googleapis.com/css?family=Abel);
@font-face {
	font-family: "MagicMushroom";
	src: url("https://crane476.github.io/MagicMushroom pu.otf")
}

/*
* "custom" refers to the theme assigned to the poll element
*/
.custom {
	background-color: rgba(0,0,0,0);
	width: 500px;
	transition: opacity 1s;
	padding: 10px;

	font-family: MagicMushroom;

	// Hide when not active
	opacity: 0;
}

.custom.finished,
.custom.active {
	opacity: 1;
}

.custom .metaInfo {
	background: green;
	overflow: hidden;
	padding: 0 10px;
}
.custom .total, .custom .duration {
	background: #444;
	float: left;
	width: 49%;
	text-align: center;
	padding: 10px;
	margin: 10px 0;
	line-height: 1.3;
}
.custom .total strong,
.custom .duration strong {
	color: #ffa;
	font-size: 20px;
	display: block;
}
.custom .total {
	margin-right: 2%;
}
.custom.finished .options li,
.custom.removing .options li {
	opacity: 0.3;
	transition: all 1s;
}
.custom.finished .options li.highest,
.custom.removing .options li.highest {
	color: #ffa;
	opacity: 1;
}

.custom.finished .options li.help,
.custom.removing .options li.help {
	height: 0;
}
.custom.finished .metaInfo,
.custom.removing .metaInfo {
	opacity: 0.3;
}
.custom.active .options li.help {
	height: 35px;
}
.custom .options li {
	position: relative;
	border: 1px;
	padding: 10px;
	color: #fff;
	-webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
	text-overflow: ellipsis;
	background-color: rgba(0,0,0,0);
	padding-right: 55px;
	padding-left: 55px;
	font-size: 25px;
}
.custom .options li.question {
	padding: 10px 20px;
	white-space: normal;
	background-color: rgba(0,0,0,0);
	clear: both;
	line-height: 1.3;
	font-size: 30px;
	position: relative;
}

.custom .options li.help {
	background-color: rgba(0,0,0,0);
	text-align: center;
	overflow: hidden;
	height: 0;
	display: none;
}

.custom .options li.help span {
	display: none;
	padding: 10px;
}

.custom .options li .procent {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
}
.custom .options li .number {
	padding: 5px 10px;
	background-color: rgba(0,0,0,0);
	position: absolute;
	top: 5px;
	left: 10px;
	font-size: 20px;
}
.custom .options li .bar {
	background: #444;
	height: 5px;
	margin-top: 5px;
}
.custom .options li .bar .bar-inner {
	background: #fff;
	height: 100%;
	width: 0;
	transition: width 1s;
	position: relative;
}
.custom .options li .text {
	line-height: 1.3;
}

/*
* Optional outer border
*/
/*
.custom .border {
	border: 5px solid red;
}
*/

.custom .credits {
	opacity: 0;
	height: 0;
}
.custom .credits {
	text-align: center;
	opacity: 1;
	transition: all 1s;
	height: 25px;
	clear: both;
	overflow: hidden;
}
.custom.active .credits, .custom.removing .credits {
	height: 0;
	opacity: 0;
}


/*
* Positioning
*/
.custom.topLeft {
	top: 20px;
	left: 20px;
}
.custom.topCenter {
	top: 20px;
	left: 50%;
	transform: translate(-50%, 0);
}
.custom.topRight {
	top: 20px;
	right: 20px;
}
.custom.middleLeft {
	top: 50%;
	transform: translate(0, -50%);
	left: 20px;
}
.custom.middleCenter {
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}
.custom.middleRight {
	top: 50%;
	transform: translate(0, -50%);
	right: 20px;
}
.custom.bottomLeft {
	bottom: 20px;
	left: 20px;
}
.custom.bottomCenter {
	bottom: 20px;
	left: 50%;
	transform: translate(-50%, 0);
}
.custom.bottomRight {
	bottom: 20px;
	right: 20px;
}
